body {
  position: relative;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 20px;
  margin-top:10px;
  padding: 0;
  background-color: #ffe0f6;
  min-height: 100vh; 
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
  
  z-index: -1; 
  transform: rotate(180deg);
  transform-origin: center;
  background: repeating-linear-gradient(
    30deg, 
    #ffe0f6 0px, 
    #ffe0f6 21px, 
    #fffdf7 21px, 
    #fffdf7 42px, 
    #e4fff8 42px, 
    #e4fff8 63px, 
    #fffdf7 63px, 
    #fffdf7 84px
  );
}
@font-face{
  font-family:"kiwisoda";
  src:url("KiwiSoda.ttf") format("truetype");
}

@font-face{
  font-family:"qaa";
  src:url("Qaaxee.ttf") format("truetype");
}


p{ margin: 50px;
  font-size:35px;
  font-family:"qaa";
  text-shadow: 2px 3px 0px #2c3e50;
  color:#ffffff;
}

h1{
   padding-left:20px;
    text-align:center;
    color: rgb(255, 234, 255);
     text-shadow: 0 0 5px #949494, 0 0 10px #8a8c8c, 0 0 20px #565858;
  font-size: 130px;
  font-family:"kiwisoda";
}

a:link {
    color: #EFCBD2;
}
a:visited {
    color: #EFCBD2;
}
a:hover {
    color: white;}



.layout {
  width: 100%;

  display: grid;
  grid:
    "header" auto
    "nav" auto
    "main" auto
    "footer" auto
    / 1fr;
  gap: 8px;
}

.header { grid-area: header;
  margin:0px;
  padding:0px;
  text-align:center;

}
.nav { grid-area: nav;
  margin:0px;
  padding:0px; 
  font-size: 50px;
  font-family:"qaa";
  color: pink;
  text-shadow: 4px 4px 0px #2c3e50;
  text-align:center;
}
.main { grid-area: main;
  margin:0px;
  padding:0px; 
 line-spacing: 2px;
 background-color:#61585162;
 border-radius:80px;
}
.footer { grid-area: footer; 
  margin:0px;
  padding:0px; 
  border: 3px solid red;
}

